<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="myService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50624/Service1.svc/AlertService"
                binding="basicHttpBinding" bindingConfiguration="myService"
                contract="AlertingSystem.IService1" name="myService" />
        </client>
    </system.serviceModel>
</configuration>